<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <title>Productos (EJS)</title>
</head>

<body>
    <div class="container mt-3">
        <h1 style= "color: rgb(136, 134, 9) ">Productos Disponibles</h1>
        <% if(hayProductos){ %>
        <table class="table table-dark table-striped">
            <tr>
                <th>Producto</th>
                <th>Precio</th>
                <th>Imagen</th>
            </tr>
            <% for (const producto of AllProd) {%>
            <tr>
                <td>
                    <%=producto.TITLE%>
                </td>
                <td>
                    <%=producto.PRICE%>
                </td>
                <td><img src=<%=producto.THUMBNAIL%> alt="" border=3 height=40 width=40></td>
            </tr>
            <%};%>
        </table>
        <% } else{ %>
        <p class="alert alert-warning">No hay productos cargados...</p>
        <% } %>
        <input type="button" class="btn btn-primary" onclick="location.href='/';" value="Cargar Nuevo Producto" />
    </div>
</body>

</html>


